#  Local .terraform directories
**/.terraform/*

# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# Directories
.terraform/

# SSH Keys
*.pem

# Backup files
*.bak

# Ignored Terraform filesecho $PATH
*gitignore*.tf

# VS Code
.vscode/

**/*.exe