<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous">
  <style>
    .card {
        margin-top: 100px; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
  </style>
  <title>AMWEEK</title>
</head>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="card" style="width: 18rem;">
          <!-- https://statici.behindthevoiceactors.com/behindthevoiceactors/_img/chars/winslow-catdog-2.8.jpg -->
          <img src="https://statici.behindthevoiceactors.com/behindthevoiceactors/_img/chars/winslow-catdog-2.8.jpg" class="card-img-top"
          alt="...">
        <div class="card-body">
          <h5 class="card-title">Welcome</h5>
          <p class="card-text">Please don't forget to leave feedback after presentation.</p>
        </div>
      </div>
    </div>

  </div>

</body>

</html>